{:duct.profile/base
 {:duct.core/project-ns game

  :duct.router/cascading
  [#ig/ref [:game.handler/game]]

  :game.handler/game {}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module/cljs
 {:main game.client}
 :duct.module.web/site
 {}}
